<% @subjects.each do |subject| %>
  <tr>
    <td><%= link_to subject.name, [:admin, subject] %></td>
    <td><%= subject.duration %></td>
    <td class="text-center">
      <div class="btn-group" role="group">
      <%= link_to t(".edit"), edit_admin_subject_path(subject.id),
        class: "glyphicon glyphicon-edit" %>
      </div>
    </td>
   <td class="text-center">
    <div class="btn-group" role="group">
    <%= link_to t(".delete"), admin_subject_path(subject.id),
      method: :delete, data: {confirm: t(".delete_subject_confirm")},
      class: "glyphicon glyphicon-trash" %>
      </div>
    </td>
  </tr>
<% end %>
