nav.link-effect-2 {
  @media (min-width: 690px) {
    overflow: visible;
    float: right;
    width: 67%;
    margin: -21px;
    margin-top: 0px;
    display: inline-block;
  }
}
.dropdown-menu {
  @media (min-width: 690px) {
    position: absolute;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-primarys {
  /*background:#F58703;*/
  color:#fff;
  border:none;
  margin-left: -14px;
  margin-top: -27px;
  position: relative;
  height: 38px;
  width: 195px;
  font-size: 24px;
  padding: 0 32px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.btn-primarys:hover {
  background: #fff;
  color:#F58703;
}
.btn-primarys:before,.btn-primarys:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 3px;
  width: 0;
  background: #F58703;
  transition: 400ms ease all;
}
.btn-primarys:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.btn-primarys:hover:before,.btn-primarys:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: 17px;
  line-height: inherit;
}
.agiler {
  height :900px;
  background: url(banner1.jpg)repeat repeat;
  margin-top: -56px;
  margin-right: auto;
  margin-left: auto;
}
