<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("name_system"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("contribute"), contribute_path %></li>
        <li><%= link_to t("login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
